@{
    Layout = null; // Asegúrate de que no se use ningún layout
}

<link href="~/css/usuario.css" rel="stylesheet" />

<header>
    <nav class="navbar">
        <ul class="navbar-right">
            <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li><a asp-controller="Home" asp-action="conciertodisp">Ver conciertos</a></li>
        </ul>
    </nav>
</header>
